.label {
  display: flex;
  align-items: center;
  flex: 0 0 95px;
  min-width: 95px;
  padding: 7px 12px;

  border-radius: 8px;

  font-size: 14px;
  font-weight: 900;
  line-height: 16px;

  &_yellow {
    background-color: #fac539;

    color: #000000;
  }
}
